{% extends 'base.html' %}

{% block body %}
    <div class="orc-room-buttons">
    {% for id in room_configs %}
        <div>{{ id }}</div>
        <div class="orc-button">
            <button class="orc-runner btn btn-primary" data-state="on" data-type="room" data-id="{{ id }}" data-duration="{{ durations[id] }}"><i class="bi bi-lightbulb-fill"></i></button>
        </div>
        <div class="orc-button">
            <button class="orc-runner btn btn-primary" data-state="off" data-type="room" data-id="{{ id }}" data-duration="{{ durations[id] }}"><i class="bi bi-lightbulb-off"></i></button>
        </div>
        <div class="orc-button">
            <button class="orc-runner btn btn-primary" data-state="follow" data-type="room" data-id="{{ id }}" data-duration="{{ durations[id] }}"><i class="bi bi-geo"></i></button>
        </div>
    {% endfor %}
    </div>
    <hr class="hr orc-hr"/>
    <div>
        <div><b>Theme</b></div>
        <div class="orc-routine-buttons">
        {% for id in ad_hoc_routines %}
            <div class="orc-button">
                <div class="orc-button-label">{{ id }}</div>
                <button class="orc-runner btn btn-primary" data-type="console" data-id="{{ id }}" data-duration="{{ durations[id] }}">
                    <svg class="orc-ribbon">
                        <polyline points="7 0 14 0 0 14 0 7" stroke="white" fill="white" stroke-width="1"></polyline>
                    </svg>
                    <i class="bi bi-clipboard-check"></i>
                </button>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr class="hr orc-hr"/>
    <div>
        <div><b>Super Routine</b></div>
        <div class="orc-routine-buttons">
        {% for id in super_routines %}
            <div class="orc-button">
                <div class="orc-button-label">{{ id }}</div>
                <button class="orc-runner btn btn-primary" data-type="console" data-id="{{ id }}" data-duration="{{ durations[id] }}">
                    <svg height="28" width="28" class="orc-ribbon">
                        <polyline points="7 0 14 0 0 14 0 7" stroke="white" fill="white" stroke-width="1"></polyline>
                    </svg>
                    <i class="bi bi-rocket-takeoff"></i>
                </button>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr class="hr orc-hr"/>
    <div class="orc-power-user">
        <div class="orc-routine-buttons orc-overflow">
            <div>
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Routines</button>

                    <div class="dropdown-menu">
                    {% for id in schedule_routines|sort %}
                        <a class="dropdown-item orc-runner" href="#" data-type="console" data-id="{{id}}" data-duration="{{ durations[id] }}">{{id}}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% if next_routine %}
                <div class="orc-button-next">
                    <div>
                        <div><b>{{ next_routine.name }}</b></div>
                        <div>At: {{ next_routine.trigger.run_date.time().strftime("%I:%M %p") }}</div>
                        </div>
                    <button class="btn btn-primary orc-pause" data-type="console" data-id="{{ next_routine.id }}">Skip</i></button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block tail %}
    <script>
        async function run(el) {
            if (new Date().getHours() < 9 && !confirm(`It's after hours.  Go ahead with: ${el.dataset.id}?`)) return;
            await call(`/api/${el.dataset.type}/${el.dataset.id}?state=${el.dataset.state}`, el);
        }

        const expertRoutines = ["Light Test", "Sound Test", "Restore Snapshot", "Video Conference"];
        const isPowerUser = localStorage.getItem("isPowerUser");

        document.querySelectorAll(".orc-runner").forEach(el => { 
            el.addEventListener("click", e => { 
                run(e.currentTarget); 
            })
        });

        document.querySelector(".orc-pause")?.addEventListener("click", e => {
            call(`/api/schedule/${e.currentTarget.getAttribute("data-id")}/pause`, e.currentTarget).finally(() => { location.reload() } );
        });

        document.querySelectorAll(".orc-button").forEach(el => {
            let dataSelector = el.querySelector(".orc-runner");
            if(isPowerUser !== "true" && expertRoutines.includes(dataSelector.getAttribute("data-id"))) {
                el.classList.add("orc-input-filtered");
            }
        });
        let highlight_configs = [
           {% for (name, start, end) in highlight_configs %}
                ["{{name}}", new Date("01/01/00 {{start}}"), new Date("01/01/00 {{end}}")],
           {% endfor %}
        ];
        function highlight() {
            var now = new Date();
            now.setFullYear(2000,0,1);
            highlight_configs.forEach( e => {
                let [id, start, finish] = e;
                let element = document.querySelector(".orc-runner[data-id='" + id + "'] .orc-ribbon");
                element.style.display = (start <= now && now <= finish) ? "block" : "none";
            });
        }
        highlight();
        setInterval(highlight, 60000);

    </script>
{% endblock %}
