{% extends 'base.html' %}

{% block body %}
    <table class="table">
        <tr>
        <th class="col-1">Run</th>
        <th class="col-1">Enabled</th>
        <th>Job</th>
        <th>When</th>
        </tr>
    {% set ns = namespace(prev_day=None) %}
    {% for job in jobs %}
        {% set day = job.trigger.run_date.date() %}
        <tr {% if ns.prev_day is not none and day != ns.prev_day %}class="orc-day-break"{% endif %}>
        <td class="col-1">
            <button class="btn btn-primary orc-runner" data-id="{{ job.id }}" data-duration="{{ durations[job.name] }}">&nbsp;</button>
        </td>
        <td class="col-1">
            <div class="form-group">
               <div class="custom-control custom-switch">
                 <input type="checkbox" class="custom-control-input orc-enable" data-id="{{ job.id }}" id="enable-{{ job.id }}" {{ 'checked' if job.next_run_time else ''}}>
                 <label class="custom-control-label" for="enable-{{ job.id }}"></label>
               </div>
             </div>
        </td>
        <td>{{ job.name }}</td>
        <td>{{ day.strftime("%m/%d") }} {{ job.trigger.run_date.time().strftime("%I:%M %p") }}</td>
        </tr>
        {% set ns.prev_day = day %}
    {% endfor %}
    </table>

{% endblock %}

{% block menu_links %}
    <div class="nav">
        <form>
            <div id="orc-theme-form-elements">
                <div>
                    <label for="orc-theme-select">Theme:</label>
                </div>
                <div>
                    <select name="theme" class="form-control orc-theme-changer" id="orc-theme-select">
                        <option value="">default</option>
                        <option value="away">away</option>
                        <option value="babysitter">babysitter</option>
                        <option value="home alone">home alone</option>
                        <option value="day off">day off</option>
                        <option value="work day">work day</option>
                    </select>
                </div>
                <div>
                    <input id="orc-theme-submit" type="button" class="btn btn-primary" value="⏎" onClick="set_theme()"/>
                </div>
                <div class="orc-theme-schedule"><label>Start</label></div>
                <div class="orc-theme-schedule orc-theme-form-date-input">
                    <input type="date" value="{{ theme.start }}" name="start" class="form-control orc-theme-changer" id="orc-theme-select-start"/>
                </div>
                <div class="orc-theme-schedule"><label>End</label></div>
                <div class="orc-theme-schedule orc-theme-form-date-input">
                    <input type="date" value="{{ theme.end }}" name="end" class="form-control orc-theme-changer" id="orc-theme-select-end"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block tail %}
    <script>
        const startEl = document.querySelector("#orc-theme-select-start");
        const endEl = document.querySelector("#orc-theme-select-end");
        const selectEl = document.querySelector("#orc-theme-select");
        const scheduleEl = document.querySelectorAll(".orc-theme-schedule");

        async function set_theme() {
            fetch('/api/schedule/set_theme', {
              method: 'POST',
              headers: { "orc-version": version },
              body: new URLSearchParams({ start: startEl.value, end: endEl.value , theme: selectEl.value })
            }).then(
              () => { location.reload(); }
            ); 
        }
        async function run(el) { await call(`/api/schedule/${el.dataset.id}/run`, el); }
        async function pause(el) {
            await call(`/api/schedule/${el.dataset.id}/pause`, el, onFailure= () => { el.checked = !el.checked })
        }

        function date() {
            const now = new Date();
            return now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate();
        }

        function formUpdated() {
            document.querySelector("#orc-theme-submit").disabled = selectEl.value && !(startEl.value && endEl.value);
        }

        document.querySelectorAll(".orc-runner").forEach(el => { el.addEventListener("click", e => run(e.currentTarget)); });
        document.querySelectorAll(".orc-enable").forEach(el => { el.addEventListener("change", e => pause(e.currentTarget)); });

        document.querySelectorAll(".orc-theme-changer").forEach(el => { 
            el.addEventListener("change", e => { 
                formUpdated();
            });
        });

        selectEl.addEventListener("change", e => {
            scheduleEl.forEach(el => { el.style.display = e.target.value === "" ? "none" : "block"; });
            if(e.target.value === "") {
                startEl.value = ""
                endEl.value = ""
            }
        });
        selectEl.value = "{{ theme.name }}";
        selectEl.dispatchEvent(new Event("change"));

        startEl.min = date();
        startEl.addEventListener("change", e => {
            if (e.target.value) {
                endEl.disabled = false;
                endEl.value = endEl.min = e.target.value;
            } else {
                endEl.disabled = true;
                endEl.value = null;
            }
            formUpdated();
        });
    </script>
{% endblock %}
